<div class="container" ng-controller="MovieCtrl">
  <div class="row col-md-12">
       <div>
           <input type="text" class="form-control input-lg" placeholder="Enter Movie Title" ng-keypress="save($event)" ng-model="titleInput">
           <input type="text" class="form-control input-lg" placeholder="Enter Release Date" ng-keypress="save($event)" ng-model="releaseInput">
           <input type="text" class="form-control input-lg" placeholder="Enter Duration" ng-keypress="save($event)" ng-model="durationInput">
           <input type="text" class="form-control input-lg" placeholder="Enter Genre" ng-keypress="save($event)" ng-model="genreInput">
           <input type="text" class="form-control input-lg" placeholder="Enter Synopsis" ng-keypress="save($event)" ng-model="snyopsisInput">
       </div>
   </div>

 </div>
